// icon sizes
.extra-large{ font-size: 80px; line-height: 80px; }
.large{ font-size: 50px; line-height: 50px; }
.medium { font-size: 35px; padding: 0 5px; }
.small { font-size: 20px; padding: 0 5px; }

.slide { padding: 80px 0; }
.slide--inverse { background-color: #efefef; }


/*@import "variables";
@import "mixins";

@import "base/reset";
@import "base/main";
@import "base/headings";
@import "base/links";
@import "base/type";
@import "base/lists";

@import "layout/slide";

@import "module/svg-icon";
@import "module/masthead";
@import "module/media";
@import "module/quotes";

@import "state/is-column";
*/