<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@graph": [
        {
            "@id": "https://www.dennisclaassen.nl/#/schema/WebSite/1",
            "@type": "http://schema.org/WebSite",
            "name": "dennisclaassen.nl",
            "url": "https://www.dennisclaassen.nl",
            "inLanguage": {
                "@type": "http://schema.org/Language", 
                "name": "English (American)",
                "alternateName": "en-US",
                "sameAs": "https://en.wikipedia.org/wiki/American_English"
            },
            "publisher": {
                "@id": "https://www.dennisclaassen.nl/#/schema/Person/1"
            }
        },
        {
            "@id": "https://www.dennisclaassen.nl/#/schema/WebPage/1",
            "@type": "http://schema.org/WebPage",
            "about": {
                "@id": "https://www.dennisclaassen.nl/#/schema/Person/1"
            },
            "author": {
                "@id": "https://www.dennisclaassen.nl/#/schema/Person/1"
            },
            "publisher": {
                "@id": "https://www.dennisclaassen.nl/#/schema/Person/1"
            },
            "isPartOf": {
                "@id": "https://www.dennisclaassen.nl/#/schema/WebSite/1"
            },
            "name": "{{ page.title }}",
            "url": "https://www.dennisclaassen.nl{{ page.url }}",
            "sdDatePublished": "{{ site.time | date: "%F" }}"
        },
        {
            "@id": "https://www.dennisclaassen.nl/#/schema/Person/1",
            "@type": "http://schema.org/Person",
            "name": "Dennis Claassen",
            "familyName": "Claassen",
            "givenName": "Dennis",
            "jobTitle": "Lead developer",
            "sameAs": [
                "http://twitter.com/declaassen",
                "http://www.linkedin.com/in/dennis-claassen-developer",
                "https://github.com/d-claassen",
                "https://www.facebook.com/declaassen",
                "https://instagram.com/declaassen",
                "https://profiles.wordpress.org/dennisatyoast",
                "https://yoast.com/about-us/team/dennis-claassen"
            ],
            "gender": "http://schema.org/Male",
            "nationality": {
                "@type": "Country",
                "name": "Netherlands",
                "alternateName": "NL",
                "sameAs": "https://en.wikipedia.org/wiki/Netherlands"
            },
            "knowsLanguage": [
                {
                    "@type": "http://schema.org/Language",
                    "name": "Dutch",
                    "alternateName": "nl"
                },
                {
                    "@type": "http://schema.org/Language",
                    "name": "English",
                    "alternateName": "en"
                }
            ],
            "worksFor": [
                {
                    "@type": "http://schema.org/EmployeeRole",
                    "worksFor": {
                        "@id": "https://www.dennisclaassen.nl/#/schema/Organization/1"
                    },
                    "roleName": "Lead developer",
                    "startDate": "2021-10-01"
                },
                {
                    "@type": "http://schema.org/EmployeeRole",
                    "worksFor": {
                        "@id": "https://www.dennisclaassen.nl/#/schema/Organization/1"
                    },
                    "roleName": "Senior developer",
                    "startDate": "2021-03-01",
                    "endDate": "2021-09-30"
                },
                {
                    "@type": "http://schema.org/EmployeeRole",
                    "worksFor": {
                        "@id": "https://www.dennisclaassen.nl/#/schema/Organization/2"
                    },
                    "roleName": "Senior developer Uitzendbureau.nl & Jobbird.com",
                    "startDate": "2020-01-01",
                    "endDate": "2021-02-28"
                },
                {
                    "@type": "http://schema.org/EmployeeRole",
                    "worksFor": {
                        "@id": "https://www.dennisclaassen.nl/#/schema/Organization/2"
                    },
                    "roleName": "Developer Uitzendbureau.nl & Jobbird.com",
                    "startDate": "2019-01-01",
                    "endDate": "2019-12-31"
                },
                {
                    "@type": "http://schema.org/EmployeeRole",
                    "worksFor": {
                        "@id": "https://www.dennisclaassen.nl/#/schema/Organization/2"
                    },
                    "roleName": "Developer Uitzendbureau.nl",
                    "startDate": "2017-01-01",
                    "endDate": "2018-12-31"
                },
                {
                    "@type": "http://schema.org/EmployeeRole",
                    "worksFor": {
                        "@id": "https://www.dennisclaassen.nl/#/schema/Organization/3"
                    },
                    "roleName": "Web Developer Uitzendbureau.nl",
                    "startDate": "2012-08-01",
                    "endDate": "2016-12-31"
                },
                {
                    "@type": "http://schema.org/EmployeeRole",
                    "worksFor": {
                        "@id": "https://www.dennisclaassen.nl/#/schema/Organization/3"
                    },
                    "roleName": "Graduate Uitzendbureau.nl",
                    "startDate": "2012-01-01",
                    "endDate": "2012-07-31"
                },
                {
                    "@type": "http://schema.org/EmployeeRole",
                    "worksFor": {
                        "@id": "https://www.dennisclaassen.nl/#/schema/Organization/3"
                    },
                    "roleName": "Developer Uitzendbureau.nl",
                    "startDate": "2011-05-01",
                    "endDate": "2011-12-31"
                },
                {
                    "@type": "http://schema.org/EmployeeRole",
                    "worksFor": {
                        "@id": "https://www.dennisclaassen.nl/#/schema/Organization/4"
                    },
                    "roleName": "Student Assistant",
                    "startDate": "2011-07-01",
                    "endDate": "2012-01-31"
                },
                {
                    "@type": "http://schema.org/EmployeeRole",
                    "worksFor": {
                        "@id": "https://www.dennisclaassen.nl/#/schema/Organization/5"
                    },
                    "roleName": "Intern",
                    "startDate": "2010-09-01",
                    "endDate": "2011-01-31"
                }
            ],
            "alumniOf": [
                {
                    "@type": "http://schema.org/Role",
                    "alumniOf": {
                        "@id": "https://www.dennisclaassen.nl/#/schema/Organization/4"
                    },
                    "roleName": "Student Communication & Multimedia Design",
                    "startDate": "2008-09-01",
                    "endDate": "2012-06-01"
                }
            ],
            "knowsAbout": [
                {%- for skill in site.data.resume-skills %}
                {
                    "@id": "https://www.dennisclaassen.nl/#/schema/Specialty/{{ forloop.index }}"
                }{% unless forloop.last %},{% endunless %}
                {%- endfor %}
            ]
        },
        {
            "@id": "https://www.dennisclaassen.nl/#/schema/Organization/1",
            "@type": "https://schema.org/Organization",
            "name": "Yoast"
        },
        {
            "@id": "https://www.dennisclaassen.nl/#/schema/Organization/2",
            "@type": "https://schema.org/Organization",
            "name": "YoungCapital"
        },
        {
            "@id": "https://www.dennisclaassen.nl/#/schema/Organization/3",
            "@type": "https://schema.org/Organization",
            "name": "Hippo HR",
            "parentOrganization": {
                "@type": "http://schema.org/OrganizationRole",
                "parentOrganization": {
                    "@id": "https://www.dennisclaassen.nl/#/schema/Organization/2"
                },
                "startDate": "2017-01-01"
            }
        },
        {
            "@id": "https://www.dennisclaassen.nl/#/schema/Organization/4",
            "@type": "https://schema.org/CollegeOrUniversity",
            "name": "Hogeschool van Arnhem en Nijmegen"
        },
        {
            "@id": "https://www.dennisclaassen.nl/#/schema/Organization/5",
            "@type": "https://schema.org/Organization",
            "name": "SQUARE Concepts"
        },
        {% for skill in site.data.resume-skills -%}
        {
            "@id": "https://www.dennisclaassen.nl/#/schema/Specialty/{{ forloop.index }}",
            "@type": "http://schema.org/Specialty",
            "name": "{{ skill.name }}",
            "description": "{{ skill.description }}",
            "sameAs": "{{ skill.wikipedia }}"
        }{% unless forloop.last %},{% endunless %}
        {% endfor %}
    ]
}
</script>
