<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@graph": [
        {
            "@id": "https://www.dennisclaassen.nl/#/schema/WebSite/1",
            "@type": "http://schema.org/WebSite",
            "name": "dennisclaassen.nl",
            "url": "https://www.dennisclaassen.nl",
            "inLanguage": {
                "@type": "http://schema.org/Language", 
                "name": "English (American)",
                "alternateName": "en-US",
                "sameAs": "https://en.wikipedia.org/wiki/American_English"
            },
            "publisher": {
                "@id": "https://www.dennisclaassen.nl/#/schema/Person/1"
            }
        },
        {
            "@id": "https://www.dennisclaassen.nl/#/schema/WebPage/1",
            "@type": "http://schema.org/WebPage",
            "about": {
                "@id": "https://www.dennisclaassen.nl/#/schema/Person/1"
            },
            "author": {
                "@id": "https://www.dennisclaassen.nl/#/schema/Person/1"
            },
            "publisher": {
                "@id": "https://www.dennisclaassen.nl/#/schema/Person/1"
            },
            "isPartOf": {
                "@id": "https://www.dennisclaassen.nl/#/schema/WebSite/1"
            },
            "name": "{{ page.title }}",
            "url": "https://www.dennisclaassen.nl{{ page.url }}",
            "sdDatePublished": "{{ site.time | date: "%F" }}"
        },
        {
            "@id": "https://www.dennisclaassen.nl/#/schema/Person/1",
            "@type": "http://schema.org/Person",
            "name": "Dennis Claassen",
            "familyName": "Claassen",
            "givenName": "Dennis",
            "jobTitle": "Lead developer",
            "sameAs": [
                "http://twitter.com/declaassen",
                "http://www.linkedin.com/in/dennis-claassen-developer",
                "https://github.com/d-claassen",
                "https://www.facebook.com/declaassen",
                "https://instagram.com/declaassen",
                "https://profiles.wordpress.org/dennisatyoast",
                "https://yoast.com/about-us/team/dennis-claassen"
            ],
            "gender": "http://schema.org/Male",
            "nationality": {
                "@type": "Country",
                "name": "Netherlands",
                "alternateName": "NL",
                "sameAs": "https://en.wikipedia.org/wiki/Netherlands"
            },
            "knowsLanguage": [
                {
                    "@type": "http://schema.org/Language",
                    "name": "Dutch",
                    "alternateName": "nl",
                    "sameAs": "https://en.wikipedia.org/wiki/Dutch_language"
                },
                {
                    "@type": "http://schema.org/Language",
                    "name": "English",
                    "alternateName": "en",
                    "sameAs": "https://en.wikipedia.org/wiki/English_language"
                }
            ],
            "worksFor": [
                {%- for experience in site.data.resume-experience %}
                {%- for role in experience.roles %}
                {
                    "@type": "http://schema.org/EmployeeRole",
                    "worksFor": {
                        "@id": "https://www.dennisclaassen.nl/#/schema/Organization/{{ experience.company_ref}}"
                    },
                    "roleName": "{{ role.title }}",
                    "startDate": "{{ role.start | date: "%F" }}"
                    {%- if role.end -%}
                    ,
                    "endDate": "{{ role.end | date: "%F" }}"
                    {%- endif %}
                }{% unless forloop.last and forloop.parentloop.last %},{% endunless %}
                {%- endfor %}
                {%- endfor %}
            ],
            "alumniOf": [
                {%- for education in site.data.resume-education %}
                {%- for study in education.studies %}
                {
                    "@type": "http://schema.org/Role",
                    "alumniOf": {
                        "@id": "https://www.dennisclaassen.nl/#/schema/Organization/{{ education.school_ref }}"
                    },
                    "roleName": "Student {{ study.study }}",
                    "startDate": "{{ study.start | date: "%F" }}",
                    "endDate": "{{ study.end | date: "%F" }}"
                }{% unless forloop.last and forloop.parentloop.last %},{% endunless %}
                {%- endfor %}
                {%- endfor %}
            ],
            "knowsAbout": [
                {%- for skill in site.data.resume-skills %}
                {
                    "@id": "https://www.dennisclaassen.nl/#/schema/Specialty/{{ forloop.index }}"
                }{% unless forloop.last %},{% endunless %}
                {%- endfor %}
            ]
        },
        {%- for org_data in site.data.resume-organizations %}
        {%- assign org_ref = org_data[0] %}
        {%- assign org = org_data[1] %}
        {
            "@id": "https://www.dennisclaassen.nl/#/schema/Organization/{{ org_ref }}",
            "@type": "https://schema.org/{{ org.schema_type | default: "Organization" }}",
            "name": "{{ org.name }}"
            {%- if org.parent -%}
            ,
            "parentOrganization": {
                "@type": "http://schema.org/OrganizationRole",
                "parentOrganization": {
                    "@id": "https://www.dennisclaassen.nl/#/schema/Organization/{{ org.parent.ref }}"
                },
                "startDate": "{{ org.parent.start | date: "%F" }}"
            }
            {%- endif %}
        },
        {%- endfor %}
        {% for skill in site.data.resume-skills -%}
        {
            "@id": "https://www.dennisclaassen.nl/#/schema/Specialty/{{ forloop.index }}",
            "@type": "http://schema.org/Specialty",
            "name": "{{ skill.name }}",
            "description": "{{ skill.description }}",
            "sameAs": "{{ skill.wikipedia }}"
        }{% unless forloop.last %},{% endunless %}
        {% endfor %}
    ]
}
</script>
