html {
  font: normal 100%/1.65 serif;

  @media(min-width: $medium-width) {
    font-size: 125%;
  }
}

body
{
  padding: 0;
  margin: 0;
  background: $body-background;
  color: $body-copy-color;
}

li,
dd
{
  margin-left: 2em;
}

blockquote,
cite
{
  font-style: italic;
}



.container
{
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media(min-width: $medium-width) {
    width: $medium-width;
  }
  @media(min-width: $large-width) {
    width: $large-width;
  }
}
