@font-face
{
  font-family: 'hellodenverbold';
  src: url( "../fonts/hellodenverdisplaybold_v1.6.eot" );
  src: url( "../fonts/hellodenverdisplaybold_v1.6.eot?#iefix" ) format( 'embedded-opentype' ),
       url( "../fonts/hellodenverdisplaybold_v1.6.woff" ) format( 'woff' ),
       url( "../fonts/hellodenverdisplaybold_v1.6.ttf" ) format( 'truetype' ),
       url( "../fonts/hellodenverdisplaybold_v1.6.svg#HELLODENVERDISPLAYBOLDBold" ) format( 'svg' );
  font-weight: bold;
  font-style: normal
}

@font-face
{
  font-family: 'hellodenverregular';
  src: url( "../fonts/hellodenverdisplayregular_v1.6.eot" );
  src: url( "../fonts/hellodenverdisplayregular_v1.6.eot?#iefix" ) format( 'embedded-opentype' ),
       url( "../fonts/hellodenverdisplayregular_v1.6.woff" ) format( 'woff' ),
       url( "../fonts/hellodenverdisplayregular_v1.6.ttf" ) format( 'truetype' ),
       url( "../fonts/hellodenverdisplayregular_v1.6.svg#HELLODENVERDISPLAYREGULARRg" ) format( 'svg' );
  font-weight: normal;
  font-style: normal;
}